<header>
    <h3 class="header-title">Tipo de búsqueda</h3>
    <fieldset class="field-group">
        <legend>Cliente</legend>
        <input value="client" [(ngModel)]="typeSearch" type="radio" name="search-type" checked>
    </fieldset>
    <fieldset class="field-group">
        <legend>Número Factura</legend>
        <input value="number" [(ngModel)]="typeSearch" type="radio" name="search-type">
    </fieldset>
</header>
<main class="card">
    <section class="client-invoice">
        <form class="first-step">
            @if (typeSearch == "client"){
            <app-selector-client [clientId]="clientId" (selectEvent)="clientId.set($event)" />
            }
            @else {
            <fieldset class="field-group">
                <legend>Número de Factura</legend>
                <input [(ngModel)]="invoiceNumber" [ngModelOptions]="{standalone: true}" type="number"
                    placeholder="-----">
            </fieldset>
            }
            <button (click)="search()" class="button">Buscar</button>
        </form>
        <button (click)="goToCreate()" class="button">Nueva Factura</button>
    </section>
    <table>
        <thead>
            <tr>
                <th scope="col">Número de factura</th>
                <th scope="col">Fecha de emisión</th>
                <th scope="col">Total facturado</th>
            </tr>
        </thead>
        <tbody>
            @for (invoice of invoices(); track $index) {
            <tr>
                <th scope="row">{{invoice.invoiceNumber}}</th>
                <td>{{invoice.invoiceDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{invoice.totalAmount| currency: 'USD': 'symbol': '1.0-0'}}</td>
            </tr>
            }
        </tbody>
    </table>
</main>